@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Shantell+Sans:wght@300&display=swap");

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(13, 102, 72);
  color: black;
  font-size: 30px;
  font-family: "Shantell Sans", sans-serif;
}

::placeholder {
  color: black;
} */
